* {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.container {
  -webkit-box-sizing: border-box; }
  .container .top {
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 1700px;
    background-color: #222222; }
    .container .top #welcome span {
      font-size: 16px;
      color: white; }
    .container .top #welcome .logo {
      width: 15px;
      height: 15px; }
    .container .top #welcome button {
      background-color: #5cb85c; }
    .container .top div:first-child {
      margin-right: 20px;
      font-size: 20px; }
      .container .top div:first-child a {
        text-decoration: none;
        color: white;
        opacity: 0.8; }
    .container .top .currency {
      font-size: 14px;
      color: #f1a50b; }
    .container .top .regist {
      margin-left: 250px; }
      .container .top .regist button {
        background-color: #5cb85c; }
      .container .top .regist button {
        margin: 0 3px;
        border: 0;
        color: white;
        padding: 5px 10px;
        border-radius: 5px; }
  .container header {
    text-align: center; }
    .container header .logo {
      margin-top: 30px;
      width: 250px;
      height: 140px; }
    .container header .nav {
      margin-top: 25px; }
      .container header .nav li {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 15px; }
      .container header .nav a {
        text-decoration: none;
        line-height: 26px;
        color: #E8B062; }
      .container header .nav a:hover {
        border-bottom: 1px solid #e4e4e4; }
    .container header .line {
      width: 750px;
      border-bottom: 1px solid #e4e4e4;
      margin: 35px auto; }
  .container .name {
    margin: 10px 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end; }
    .container .name h1 {
      margin-right: 100px;
      font-size: 38px; }
    .container .name .count {
      font-size: 20px;
      color: green; }
  .container .account {
    margin-left: 100px;
    float: left;
    width: 250px; }
    .container .account .fiat, .container .account .btc {
      border: 1px solid lightgrey;
      border-radius: 10px;
      margin-top: 20px; }
      .container .account .fiat li:first-child, .container .account .btc li:first-child {
        background-color: #00BFFF;
        font-weight: bold; }
        .container .account .fiat li:first-child a, .container .account .btc li:first-child a {
          color: white; }
      .container .account .fiat li, .container .account .btc li {
        border-bottom: 1px solid lightgrey;
        list-style-type: none;
        padding: 10px 10px; }
        .container .account .fiat li a, .container .account .btc li a {
          text-decoration: none;
          height: 30px; }
  .container .sec {
    width: 700px;
    margin: 0 auto; }
    .container .sec p:first-child {
      font-weight: bold;
      font-size: 20px; }
      .container .sec p:first-child span {
        color: red; }
    .container .sec .line {
      width: 650px;
      border-bottom: 1px solid #e4e4e4;
      margin: 35px auto; }

/*# sourceMappingURL=secur.css.map */
